<a href="https://colab.research.google.com/github/sergiochaza/pandas/blob/main/Ejercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [3]:
import pandas as pd
inicio = int(input("Introduce el año inicial: "))
fin = int(input("Introduce el año final: "))
ventas = {}
for  i in range(inicio, fin+1):
    ventas[i] = float(input("Introduce las ventas por año " + str(i) + ": "))
ventas = pd.Series(ventas)
print(ventas)

Introduce el año inicial: 2010
Introduce el año final: 2025
Introduce las ventas por año 2010: 1000000
Introduce las ventas por año 2011: 2000000
Introduce las ventas por año 2012: 3000000
Introduce las ventas por año 2013: 4
Introduce las ventas por año 2014: 5000000
Introduce las ventas por año 2015: 6000000
Introduce las ventas por año 2016: 70000000
Introduce las ventas por año 2017: 8000000000
Introduce las ventas por año 2018: 661616163516
Introduce las ventas por año 2019: 14654161651651
Introduce las ventas por año 2020: 151351351351515
Introduce las ventas por año 2021: 13651651351351351
Introduce las ventas por año 2022: 351351351351351351352
Introduce las ventas por año 2023: 13513438541321354134136
Introduce las ventas por año 2024: 3136546416854684165865416
Introduce las ventas por año 2025: 1365131314651313131313138131
2010    1.000000e+06
2011    2.000000e+06
2012    3.000000e+06
2013    4.000000e+00
2014    5.000000e+06
2015    6.000000e+06
2016    7.000000e+07
2017    8.000000e+09
2018    6.616162e+11
2019    1.465416e+13
2020    1.513514e+14
2021    1.365165e+16
2022    3.513514e+20
2023    1.351344e+22
2024    3.136546e+24
2025    1.365131e+27
dtype: float64

Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [8]:
import pandas as pd
def estadistica(notas):
    notas = pd.Series(notas)
    estadisticos = pd.Series([notas.min(), notas.max(), notas.mean(), notas.std()], index=["Min", "Max", "Media", "Desviación tipica"])
    return estadisticos
notas = {"Juan":9, "María":6.5, "Pedro":4, "Carmen": 8.5, "Luis": 5}
print(estadistica(notas))

Min                  4.000000
Max                  9.000000
Media                6.600000
Desviación tipica    2.162175
dtype: float64

In [9]:
import pandas as pd
def estadistica(notas):
  notas = pd.Series(notas)
  estadisticos = pd.Series([notas.min(), notas.max(), notas.mean(), notas.std()], index=["Min", "Max", "Media", "Desviación tipica"])
  return notas.describe()
notas = {"Juan":9, "María":6.5, "Pedro":4, "Carmen": 8.5, "Luis": 5}
print(estadistica(notas))

count    5.000000
mean     6.600000
std      2.162175
min      4.000000
25%      5.000000
50%      6.500000
75%      8.500000
max      9.000000
dtype: float64

Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [12]:
import pandas as pd
def notas_aprobados(notas):
  notas = pd.Series(notas)
  return notas[notas >=6].sort_values(ascending=False)
notas = {"Juan":9, "María":6.5, "Pedro":4, "Carmen": 8.5, "Luis": 5}
print(notas_aprobados(notas))

Juan      9.0
Carmen    8.5
María     6.5
dtype: float64

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [13]:
import pandas as pd
datos = {"Mes": ["Enero", "Febrero", "Marzo", "Abril"], "Ventas": [30500, 35600, 28300, 33900], "Gastos": [22000, 23400, 18100, 20700]}
df = pd.DataFrame(datos)
print(df)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [15]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

contabilidad = pd.DataFrame(datos)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad[contabilidad.Mes.isin(meses)].Balance.sum()

print(balance(contabilidad, ['Enero']))

8500

In [17]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

contabilidad = pd.DataFrame(datos)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad.set_index('Mes').loc[meses,'Balance'].sum()

print(balance(contabilidad, ['Enero']))

8500

El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [19]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
ruta = "/content/drive/MyDrive/cotizacion.csv"

In [41]:
df = pd.read_csv(ruta, sep=";", decimal=",", thousands=".", index_col=0)
def resumen(df):
  return pd.DataFrame([df.min(), df.max(), df.mean()], index=["Min", "Max", "Media"])
print(resumen(df))

              Final        Máximo        Mínimo       Volumen    Efectivo
Min        1.016500      4.067500      1.016500  1.221000e+03    2343.090
Max    19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Media   2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778