<a href="https://colab.research.google.com/github/sergiochaza/pandas/blob/main/Pandas_desde_cero_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Contexto:
A lo largo de la explicación "s" va a ser usado en todos los codigos, porque es la variable donde voy a ir depositando la serie

#Pandas

Las principales caracteristicas de esta libreria son:


*   Define nuevas estructuras de datos basadas en los arrays de la librería Numpy, pero con nuevas funcionalidades
*   Permite leer y escribir fácilmente ficheros en formato CVS,XLSX y SQL
*   Permite acceder a los datos mediante índices o nombres para filas y columnas
*   Ofrece métodos para reordenar, dividir y combinar conjunto de datos
*   Permite trabajar con series temporales
*   Realiza todas estas operaciones de manera muy eficiente



#Tipo de datos en pandas

Pandas dispone de 3 estructuras de datos diferentes

*   Series: Estructura de una dimensión
*   DataFrame: Estructuras de dos dimensiones (Tablas)
*   Panles: Estructura de tres dimensiones (Cubos)

Estas estructuras se construyen a partir de arrays de la librería Numpy, añadiendo nuevas funcionalidades.

#La Clase de Objetos Series

Son estructuras similares a los arrays de una dimensión. Son homogéneas, es decir, sus elementos tienen que ser del mismo tipo y su tamaño es inmutable, es decir, no se puede cambiar, aunque si su contenido

Dispone de un índice que asocia un nombre a cada elemento de la serie, a través de la cual se accede al elemento.

![image.png]()

#Creación de una serie a partir de una lista

* Series(Data=lista, Index = idices, dytpe=tipo): Devuelve un objeto de Series con los datos de la lista, las filas especificados en la lista indices y el tipo de dato incado en el tipo. Si no se pasa la lista de índices se utilizan como índices los enteros del 0 a n -1, donde n es el tamaño de la serie. sino se pasa el tipo de dato que se infiere

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
s = pd.Series(["Matematicas" , "Historia" , "Economia" , "Programación" , "Ingles"] , dtype = "string" )
s

0     Matematicas
1        Historia
2        Economia
3    Programación
4          Ingles
dtype: string

#Creación de series a partir de un diccionario

* Series (Data=Diccionario, index = indices) Devuelve un objeto de tipo series con valores del diccionario y las filas especifícados en la lista indices las claves del diccionario

In [ ]:
import pandas as pd
s = pd.Series({"Matematicas": 6.0, "Economia": 8.0 , "Programación": 8.5})
print(s)

Matematicas     6.0
Economia        8.0
Programación    8.5
dtype: float64

#Atributos de una serie

Existen varias propiedades o métodos para ver las características de una serie

*   s.size: Devuelve el número de elementos de la serie s
*   s.index: Devuelve una lista con los nombres de las filas del DataFrame s
*   s.dtype: Devuelve el tipo de datos de los elementos de la serie s

In [ ]:
import pandas as pd
s = pd.Series({"Matematicas": 6.0, "Economia": 8.0 , "Programación": 8.5})
print(f"Los números de elementos son: {s.size}")
print(f"Los nombres de las filas son: {s.index}")
print(f"El tipo de dato es: {s.dtype}")

Los números de elementos son: 3
Los nombres de las filas son: Index(['Matematicas', 'Economia', 'Programación'], dtype='object')
El tipo de dato es: float64

#Acceso a los elementos de una serie
El acceso a los elemtnos de un objeto del tipo Serie puede ser através de posiciones o através de indices (Nombre de columna)

#Accesos por posición
Se realiza de forma similar a como se accede a los elementos de un array.
s.iloc[0]: Devuelve el elemento que ocupa 0+1 en la serie, respetando la **Indexación basada en cero**
Que significa? Significa que el primer elemento de la lista tiene indice 0, el segundo indice 1 y así sucesivamente (zero-based indexing)

Posición real        Índice en Python
1° elemento	          0
2° elemento	          1
3° elemento	          2

Porque se usa la indexación basada en 0? Porque python hereda esta logica de C que tambien se usa 0 como primer indice. Es mas eficiente computacionalmente y facilita algunos cálculos internos


#Acceso por indice

*   s[nombre]: Devuelve el elemento con el nombre en el índice
*   s[nombres]: Devuelve otra serie con los elementos correspondientes a los nombres indicadas en la lista nombres en el indice

In [ ]:
import pandas as pd
s = pd.Series({"Matematicas": 6.0, "Economia": 8.0 , "Programación": 8.5})
print(f"Acceso por posicion: {s.iloc[0]}")
print(f"Acceso por indice: {s['Matematicas']}")

Acceso por posicion: 6.0
Acceso por indice: 6.0

#Resumen descriptivo de una serie
Las siguientes funciones permiten resumir varios aspectos de una serie:
* s.count():
      Devuelve el número de elementos que no son nulos ni NaN en la serie

* s.sum():
      Devuelve la suma de los datos de la serie s cuando los datos son de un tipo numérico, o la concanetación de ellos cuando son del tipo cadena str
* s.cumsum():
      Devuelve una serie con la suma acumulada de los datos de la serie s, cuando los datos son de tipo numerico
* s.value_counts()
      Devuelve una serie con la fecuencia(Número de repeticiones) de cada valor de la serie s
* s.min():
      Devuelve el menor de los datos de la serie s
* s.max():
      Devuelve el mayor de los datos de la serie s
* s.mean():
      Devuelve la media de los datos de la serie s cuando los datos son de tipo númerico
* s.var():
      Devuelve la varianza de los datos de la serie s cuando los datos son de tipo númerico
* s.std():
      Devuelve la desviación típica de los datos de la serie s cuando los datos son de un tipo numérico
*s.decribe():
      Devuelve una serie con un resumen descriptivo que incluye en número de datos, su suma, el minimos, el máximo, la media, la desviación tipica y los cuartiles

In [ ]:
import pandas as pd
s = pd.Series([1,1,1,1,2,2,2,3,3,4])
print(f"Número de elementos: {s.count()}")
print(f"Suma de los datos: {s.sum()}")
print(f"Suma acumulada: {s.cumsum()}")
print(f"Frecuencia Absolutas: {s.value_counts()}")
print(f"Mínimo: {s.min()}")
print(f"Máximo: {s.max()}")
print(f"Media: {s.mean()}")
print(f"Varianza: {s.var()}")
print(f"Desviación típica: {s.std()}")
print(f"Resumen descriptivo: {s.describe()}")

Número de elementos: 10
Suma de los datos: 20
Suma acumulada: 0     1
1     2
2     3
3     4
4     6
5     8
6    10
7    13
8    16
9    20
dtype: int64
Frecuencia Absolutas: 1    4
2    3
3    2
4    1
Name: count, dtype: int64
Mínimo: 1
Máximo: 4
Media: 2.0
Varianza: 1.1111111111111112
Desviación típica: 1.0540925533894598
Resumen descriptivo: count    10.000000
mean      2.000000
std       1.054093
min       1.000000
25%       1.000000
50%       2.000000
75%       2.750000
max       4.000000
dtype: float64

#Aplicar operaciones a una serie

Los operadores binarios (+,*,/,etc)Pueden utilizarse con una serie, y devuelven otra serie con el resultado de aplicar la operación a cada elemento de la serie

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,])
print(s + 2)
print(s * 2)
print(s / 2)
print(s % 2)

0    3
1    4
2    5
3    6
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64
0    0.5
1    1.0
2    1.5
3    2.0
dtype: float64
0    1
1    0
2    1
3    0
dtype: int64

#Aplicar funciones a una serie

Tambien es posible aplicar una función a cada elemento de la serie mediante el siguiente método:

s.apply(funcion): Devuelve una serie con el resultado de aplicar la función a cada uno de los elementos de la serie s

#Funciones de Python
* s.apply(str)
      Convierte cada número a string
* s.apply(abs)
      Trae el valor absoluto
* s.apply(round)
      Redondea si es que hay decimales

#Funciones Matematicas (Usando math o numpy)

* s.apply(np.sqtr)
      Raiz cuadrada
* s.apply(np.log)
      Logaritmo
* s.apply(np.sin)
      Seno
* s.apply(np.cos)
      coseno

#Función Lambda(Funcione rapidas)

* s.apply(lambda x: abs(x) + 10)
      Valor absoluto y suma 10  

#Funciones personalizadas

* def clasificar_nota(nota):
      if nota >=6:
        return "Aparobado"
      else:
        return: "Desaprobado"

s = pd.series([5,7,8,3])

s.apply(clasificar_nota)

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4])
print(s.apply(str))
print("Funciones de Python")

0    1
1    2
2    3
3    4
dtype: object
Funciones de Python

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4])
print("Funciones Python")
print(f"Funcion valor absoluto: {s.apply(abs)}")
print(f"Función redondear decimales: {s.apply(round)}")
print("Funciones Matematicas")
print(f"Función raiz cuadrada: {s.apply(np.sqrt)}")
print(f"Funció de Logaritmo: {s.apply(np.log)}")
#print(f"Función seno: {s.apply(np)}")
print(f"Función coseno: {s.apply(np.cos)}")
print("Funciones Lambda")
print(f"Función Lambda: {s.apply(lambda x: abs(x) + 10)}")

Funciones Python
Funcion valor absoluto: 0    1
1    2
2    3
3    4
dtype: int64
Función redondear decimales: 0    1
1    2
2    3
3    4
dtype: int64
Funciones Matematicas
Función raiz cuadrada: 0    1.000000
1    1.414214
2    1.732051
3    2.000000
dtype: float64
Funció de Logaritmo: 0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64
Función coseno: 0    0.540302
1   -0.416147
2   -0.989992
3   -0.653644
dtype: float64
Funciones Lambda
Función Lambda: 0    11
1    12
2    13
3    14
dtype: int64

#Filtrar una serie

Para filtrar una serie y quedarse con los valores que cumplen una determinada condición se utiliza el siguiente método:

* s[condicion]:
        Devuelve una serie con los elementos de la serie s que se corresponden con el valore True de la lista booleana condicion. condicion debe ser una lista de valores boleadon de la misma longitud que la serie

In [ ]:
import pandas as pd
s = pd.Series({"Matematicas" : 1.0 , "Fisica": 6.0 , "Economia": 8.0 })
print(s[s > 5])

Fisica      6.0
Economia    8.0
dtype: float64

#Ordenar una Serie

Para ordenar una serie se utilizan los siguientes métodos:

* s.sort_values(ascending=booleano):
      Devuelve la serie que resulta de ordenar los valores de la serie s. Si el argumento del parámetro ascending es True el orden es creciente y si es false decreciente

* s.sort_index(ascending=booleano):
      Devuelve la serie que resulta ordenar el indice de la serie s. Si el argumento del parámetro ascending es True el orden es creciente y si es False decreciente

In [ ]:
import pandas as pd
s = pd.Series({"Matematicas" : 9.0 , "Fisica": 1.0 , "Economia": 7.0 })
print("Ordenar por valor")
print(s.sort_values())
z = pd.Series({"Matematicas" : 9.0 , "Fisica": 1.0 , "Economia": 7.0 })
print(z.sort_index())

Ordenar por valor
Fisica         1.0
Economia       7.0
Matematicas    9.0
dtype: float64
Economia       7.0
Fisica         1.0
Matematicas    9.0
dtype: float64

#Eliminar Datos Desconocidos en una serie
Los datos desconocidos representan en Pandas por NaN y los nulos por None. Tanto unos como otros suelen ser un problema a la hora de realizar algunos análisis de datos, por lo que es habitual eliminarlos. Para eliminarlos de una serie se utiliza el siguiente método.

s.dronpa(): Elimina los datos desconocidos o nulos de la serie s

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(["a" , "b" , None, "c", np.nan, "d"])
s

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [ ]:
s.dropna()

0    a
1    b
3    c
5    d
dtype: object

#Practicas Series

In [ ]:
#Practica 1:
#Craea una serie con los siguientes datos: "Lunes", "Martes", "Miercoles" , "Jueves" , "Viernes"

import pandas as pd
s = pd.Series(["Lunes" ,"Martes" , "Miercoles", "Jueves", "Viernes"])
s

0        Lunes
1       Martes
2    Miercoles
3       Jueves
4      Viernes
dtype: object

In [ ]:
#Practicas 2:
#Crea una serie con los nombre y edad de tus amigos:
#Accede a la edad de "Samir"
#Mostrar cuantos años tiene el primero por posicion
import pandas as pd
s = pd.Series({"Federico": 24 , "Samir": 23 , "Jorge": 31})

print(f"La Edad de samir es: {s['Samir']}")
print(f"La edad del primero por posicion es: {s.iloc[0]}")

La Edad de samir es: 23
La edad del primero por posicion es: 24

In [ ]:
#Acceso y Modificación
"""
1- Crear una serie de temperaturas
2-Accede a la temperatura del miércoles usando el nombre del índice
3-Accede a la temperatura del jueves usando iloc
4-Cambia el valor del lunes a 20.0
"""
import pandas as pd
lista_day = ["Lunes", "Martes", "Miercoles" , "Jueves" , "Viernes"]
lista_temp = [22.5, 23.0, 24.3, 25.0, 24.7]
s = pd.Series(lista_temp, index = lista_day)
s["Lunes"] = 20.0
print(s["Miercoles"])
print(s.iloc[3])
s

24.3
25.0

Lunes        20.0
Martes       23.0
Miercoles    24.3
Jueves       25.0
Viernes      24.7
dtype: float64

In [ ]:
#Operaciones y Funciones
"""
1-Crea una Serie con los siguientes valores:
[3, 5, 8, -2, 0]
2-Aplica abs para obtener los valores absolutos
3-Elevar al cuadrado y sumar +1
4- Mostrar la suma acumulativa
5- Calcular la media, la varianza y la desviación estándar
"""
import pandas as pd
import numpy as np
s = pd.Series([3, 5, 8, -2, 0])
print("El Valor Absoluto es")
print(s.apply(abs))
print("Elevar al cuadrado y sumar +1")
print(s.apply(lambda x: x**2 + 1))
print("Mostrar la suma acumulativa")
print(s.cumsum())
print("Mostar la media, la varianza y la desviación estandar")
print("Media")
print(s.mean())
print("Varianza")
print(s.var())
print("Desviación Estandar")
print(s.std())

El Valor Absoluto es
0    3
1    5
2    8
3    2
4    0
dtype: int64
Elevar al cuadrado y sumar +1
0    10
1    26
2    65
3     5
4     1
dtype: int64
Mostrar la suma acumulativa
0     3
1     8
2    16
3    14
4    14
dtype: int64
Mostar la media, la varianza y la desviación estandar
Media
2.8
Varianza
15.7
Desviación Estandar
3.96232255123179

In [ ]:
#Analisis de datos simples
"""
1-Encuesta de gustos de helado
2-Convirtilo en una serie
3-Usa value_counts() para contar cuátas personas votan cada sabor
4-Mostrá cuál fue el sabor mas votado
"""
import pandas as pd
s = pd.Series(["chocolate", "vainilla", "chocolate", "frutilla", "vainilla", "chocolate"])
s.value_counts()
print(f"El sabor mas votado es: {s.value_counts().index[0]}")

El sabor mas votado es: chocolate